/* Fonts */
/*------------------------------*/
html {
    font-family: "Droid Arabic Kufi", "PT Serif", Georgia, "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Droid Arabic Kufi", "PT Sans", Helvetica, Arial, sans-serif;
}

/* Colors */
/*------------------------------*/
.masthead-title a,
.page-title,
.post-title,
.post-title a,
h1, h2, h3, h4, h5, h6 {
    color: #000;
}

/* Masthead */
/*------------------------------*/
.masthead-title img {
  display: inline;
  width: 35px;
  height: 35px;
  margin-bottom: 0;
  margin-right: 10px;
  vertical-align: middle;
}

.masthead-title a {
  margin-right: 30px;
}

/* Hero */
/*------------------------------*/
.hero {
  margin-bottom: 3rem;
}

/* Content */
/*------------------------------*/
.post {
    margin-bottom: 3em;
}
.post-title {
    margin-top: 0;
    margin-bottom: 1rem;
}
.post-date {
    margin-top: 0;
    margin-bottom: 0;
}
.posts .post-title {
    font-size: 1.5rem;
}
.posts .post-date {
    font-size: 15px;
}

/* Footer */
/*------------------------------*/
footer {
  padding: 3rem 0;
  font-size: 14px;
  background:#eee;
}
/* Social Icons */
#social-icons {overflow:hidden;}

#social-icons a {
  height: 26px;
  width: 26px;
  margin-right: 5px;
  display: inline-block;
  text-indent: -9999px;
  background: transparent url(../social_icons.png);
}

#social-icons a.facebook { background-position: 0px top ; }
#social-icons a.twitter { background-position: -26px top; }
#social-icons a.tumblr { background-position: -52px top ; }
#social-icons a.vimeo { background-position: -78px top ; }
#social-icons a.dribbble { background-position: -104px top ; }
#social-icons a.deviantart { background-position: -130px top ; }
#social-icons a.behance { background-position: -156px top ; }
#social-icons a.flickr { background-position: -182px top ; }
#social-icons a.forrst { background-position: -208px top ; }
#social-icons a.linkedin { background-position: -234px top ; }
#social-icons a.rss { background-position: -260px top ; }
#social-icons a.googleplus { background-position: -286px top ; }
#social-icons a.pinterest { background-position: -312px top ; }

#social-icons a.facebook:hover { background-position: 0px bottom ; }
#social-icons a.twitter:hover { background-position: -26px bottom ; }
#social-icons a.tumblr:hover { background-position: -52px bottom ; }
#social-icons a.vimeo:hover { background-position: -78px bottom ; }
#social-icons a.dribbble:hover { background-position: -104px bottom ; }
#social-icons a.deviantart:hover { background-position: -130px bottom ; }
#social-icons a.behance:hover { background-position: -156px bottom ; }
#social-icons a.flickr:hover { background-position: -182px bottom ; }
#social-icons a.forrst:hover { background-position: -208px bottom ; }
#social-icons a.linkedin:hover { background-position: -234px bottom ; }
#social-icons a.rss:hover { background-position: -260px bottom ; }
#social-icons a.googleplus:hover { background-position: -286px bottom ; }
#social-icons a.pinterest:hover { background-position: -312px bottom ; }

/* Custom scrollbar */
/*------------------------------*/
/* For the "inset" look only */
html {
    overflow: auto;
}
body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    /*-webkit-border-radius: 10px;
    border-radius: 10px;*/
    background: rgba(2, 153, 228, 0.8);
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 136, 204, 0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(2, 153, 228, 0.8);
}
