/* Colors */
/*------------------------------*/
.masthead-title a,
.page-title,
.post-title,
.post-title a,
h1, h2, h3, h4, h5, h6 {
    color: #000;
}

/* Masthead */
/*------------------------------*/
.masthead-title img {
  display: inline;
  width: 35px;
  height: 35px;
  margin-bottom: 0;
  margin-right: 10px;
  vertical-align: middle;
}

.masthead-title a {
  margin-right: 30px;
}

/* Content */
/*------------------------------*/
.post {
    margin-bottom: 3em;
}
.post-title {
    margin-top: -.5rem;
    margin-bottom: 1rem;
}
.post-date {
    margin-top: 0;
    margin-bottom: 0;
}

/* Custom scrollbar */
/*------------------------------*/
/* For the "inset" look only */
html {
    overflow: auto;
}
body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    /*-webkit-border-radius: 10px;
    border-radius: 10px;*/
    background: rgba(2, 153, 228, 0.8);
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 136, 204, 0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(2, 153, 228, 0.8);
}
