<!DOCTYPE html>
<html lang="{% if page.rtl %}ar{% else %}en-us{% endif %}">

  {% include head.html %}

  <body>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title"><a href="{{ site.baseurl }}/" title="Home"><img src="{{ site.baseurl }}/public/Portrait.png" alt="Avatar"><span>{{ site.title }}</span></a><small>{{ site.tagline }}</small></h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <footer class="site-footer" role="contentinfo">
      <div class="site-info container">

        <p>Thank you for passing by.</p>
        <p id="social-icons">
          <a class="twitter" target="_blank" href="https://x.com/_hfend"></a>
          <a class="linkedin" target="_blank" href="https://www.linkedin.com/in/mhfendali"></a>
          <a class="behance" target="_blank" href="https://behance.net/hfend"></a>
          <a class="dribbble" target="_blank" href="https://dribbble.com/hfend"></a>
        </p>

        <p>
          <a href="/terms">Terms &amp; Conditions</a> - <a href="/privacy">Privacy Policy</a> - <a href="/refunds">Refund Policy</a>
        </p>

      </div><!-- .site-info -->
    </footer>
  </body>
</html>
